# Build Artifacts
/pkg/
/tmp/

# rspec failure tracking
.rspec_status

# Bundler
Gemfile.lock
/.bundle/
/gemfiles/vendor/

# Specs
/coverage/
/spec/reports/

# Documentation
/.yardoc
/_yardoc/
/doc/
/rdoc/

# RVM
.rvmrc

# Editors
*~

# Other
/measurement/
