bundler_args: --without development
env:
  global:
    - JRUBY_OPTS="$JRUBY_OPTS --debug"
language: ruby
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2
  - jruby-18mode
  - jruby-19mode
  - jruby-head
  - rbx-2
  - ruby-head
gemfile:
  - Gemfile
matrix:
  include:
    - rvm: 2.2
      gemfile: Gemfile.rack-master
  allow_failures:
    - rvm: jruby-head
    - rvm: ruby-head
    - gemfile: Gemfile.rack-master
  fast_finish: true
sudo: false
