name: What's up Danger?

on:
  pull_request:
    branches:
      - 'main'
      - 'master'
      - '*-stable'

jobs:
  danger:
    runs-on: ubuntu-latest
    if: github.event_name  == 'pull_request' # if only run pull request when multiple trigger workflow
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 2.7
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install cURL Headers
        run: sudo apt-get install libcurl4-openssl-dev
      - name: Setup Ruby & Bundle
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: MeilCli/danger-action@v5
        with:
          plugins_file: 'Gemfile'
          install_path: 'vendor/bundle'
          danger_file: 'Dangerfile'
          danger_id: 'danger-pr'
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
